<h1>Update ambulance</h1>

<%= error_messages_for :ambulance %>

<% form_for(@ambulance) do |f| %>
  <p>
    <b>Registration #</b><br />
    <%= f.text_field :registration_number %>
  </p>

  <p>
    <b>Driver Name</b><br />
    <%= f.text_field :driver_name %>
  </p>

  <p>
    <b>Location</b><br />
    <%= f.text_field :location %>
  </p>

  <p>
    <b>Availability</b><br />
      <%= select_tag("ambulance[availability_id]", options_from_collection_for_select(@availabilities, :id, :description, @ambulance.availability.id)) %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', ambulances_path %>

