<h1>Editing incident</h1>

<%= error_messages_for :incident %>

<% form_for(@incident) do |f| %>
  <p>
    <b>Location</b><br />
    <%= f.text_field :location %>
  </p>

  <p>
    <b>Severity</b><br />
    <%= select_tag( "incident[severity]", options_for_select(["1","2","3","4","5"],String(@incident.severity))) %>
  </p>

  <p>
    <b>Number of Patients</b><br />
    <%= f.text_field :number_patients, :size => 3 %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_field :description, :size => 80 %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @incident %> |
<%= link_to 'Back', incidents_path %>
