<h1>Editing incident</h1>

<%= error_messages_for :incident %>

<% form_for(@incident) do |f| %>
  <p>
    <b>Location</b><br />
    <%= f.text_field :location %>
  </p>

  <p>
    <b>Severity</b><br />
    <%= f.text_field :severity %>
  </p>

  <p>
    <b>Number of Patients</b><br />
    <%= f.text_field :number_patients %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @incident %> |
<%= link_to 'Back', incidents_path %>
