<p>
  <b>Location:</b>
  <%=h @incident.location %>
</p>

<p>
  <b>Severity:</b>
  <%=h @incident.severity %>
</p>

<p>
  <b>Description:</b>
  <%=h @incident.description %>
</p>

<p>
  <b>Dispatched Ambulances:</b>
  <% if @incident.ambulances.size == 0 %>
     <b>none</b>
  <% else %>
    <% for ambulance in @incident.ambulances %>
       <br>Id: <%= ambulance.id %> Driver: <%= ambulance.driverName %>
       <%= link_to 'Undispatch', :action => 'undispatch', :id => ambulance.id, :incidentid => @incident.id %>
    <% end %>
  <% end %>
</p>
<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Dispatch Ambulance', :action => 'dispatch', :id => @incident.id %> |
<%= link_to 'Back', incidents_path %>
