<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAq2pKI3_86wp5NZfs8DCdUhT2yXp_ZAY8_ufC3CFXhHIE1NvwkxSLOQLC4TyLhjWuClxqvyhFZZRfYQ"
            type="text/javascript">
</script>
<script type="text/javascript" src="http://www.google.com/jsapi">
</script>

<script type="text/javascript"> 
    var map = null;
    var geocoder = null;
    
    google.setOnLoadCallback(initialize);
   
    function initialize() 
    {
      geocoder = new GClientGeocoder();
      if (GBrowserIsCompatible()) 
      {
        var map = new GMap2(document.getElementById("map_canvas"));
        map.setCenter(new GLatLng(32.98426, -96.734447), 13);
        map.setUIToDefault();

        GEvent.addListener(map, 'click', 
        function(overlay, latlng) 
        {       
          geocoder.getLocations(latlng, populateAddress);
        }
        );
      }
    }  

    function populateAddress(response) 
    {
      if (!response || response.Status.code != 200) {
        alert("There was an error:" + response.Status.code);
      } 
      else 
      {
		document.getElementById("new_incident").incident_location.value = response.Placemark[0].address;
      }
        
    }
</script>


<h1>New incident</h1>

<%= error_messages_for :incident %>

<div id="map_canvas" class="google_map"></div> 

<% form_for(@incident) do |f| %>
  <p>
    <b>Location</b><br />
    <%= f.text_field :location %>
  </p>

  <p>
    <b>Severity</b><br />
    <%= select_tag( "incident[severity]", options_for_select(["1","2","3","4","5"])) %>
  </p>

  <p>
    <b>Number of Patients</b><br />
    <%= f.text_field :number_patients, :size => 3 %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_field :description, :size => 80 %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', incidents_path %>
