<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAq2pKI3_86wp5NZfs8DCdUhT2yXp_ZAY8_ufC3CFXhHIE1NvwkxSLOQLC4TyLhjWuClxqvyhFZZRfYQ"
            type="text/javascript">
</script>
<script type="text/javascript" src="http://www.google.com/jsapi">
</script>

<script type="text/javascript"> 
    var map = null;
    var geocoder = null;
    
    google.setOnLoadCallback(initialize);
   
    function initialize() 
    {
      geocoder = new GClientGeocoder();
      if (GBrowserIsCompatible()) 
      {
        map = new GMap2(document.getElementById("map_canvas"));
        map.setUIToDefault();
        map.disableDragging();
        map.disableScrollWheelZoom();
        geocoder.getLocations("<%=h @incident.location %>", centerMap);
      }
    }  

    function centerMap(response) 
    {
      if (!response || response.Status.code != 200) {
        alert("There was an error:" + response.Status.code);
      } 
      else 
      {
        var point = new GLatLng(response.Placemark[0].Point.coordinates[1], response.Placemark[0].Point.coordinates[0]);
        map.setCenter(point, 14);
		map.addOverlay(new GMarker(point));
      }
        
    }
</script>

<div id="map_canvas" class="google_map"></div> 

<h1>Incident #<%=h@incident.id%></h1>

<p>
  <b>Location:</b>
  <%=h @incident.location %>
</p>

<p>
  <b>Severity:</b>
  <%=h @incident.severity %>
</p>

<p>
  <b>Number of Patients:</b>
  <%=h @incident.number_patients %>
</p>

<p>
  <b>Description:</b>
  <%=h @incident.description %>
</p>

<p>
  <b>Created:</b>
  <%=h @incident.created_at %>
</p>

<p>
  <b>Last Modified:</b>
  <%=h @incident.updated_at %>
</p>

<p>
  <b>Dispatched Ambulances:</b>
  <% if @incident.ambulances.size == 0 %>
     <b>none</b>
  <% else %>
    <% for @temp_ambulance in @incident.ambulances %>
       <br>Registration #: <%= @temp_ambulance.registration_number %>
       <%= link_to 'Undispatch', :action => 'undispatch', :id => @temp_ambulance.id, :incidentid => @incident.id %>
    <% end %>
  <% end %>
</p>

<p>
 <b>Status:</b>
  <% if @incident.closed %>
   Closed
  <% else %>
   Open
  <% end %>
</p>
<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Dispatch Ambulance', :action => 'dispatch', :id => @incident.id %> |
<%= link_to 'Back', incidents_path %>
